<%- include('header') -%>

<body>
    <div class="box" id="heading">
        <h1><%= listItem %></h1>
    </div>

    
    <div class="box">
        <% for (let i=0; i < newListItems.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p><%= newListItems[i] %></p>
            </div>
        <% } %>

        <form class="item" action="/" method="post">
            <!-- <p><label for="nextItem">Next: </label></p> -->
            <input type="text" id="nextToDo" name="nextItem" placeholder="New To Do" autocomplete="off" required>
            <button type="submit" name="button" value="<%= listItem %>">+</button>
        </form>
    </div>

</body>
<%- include('footer') -%>